<h1>Welcome to Auto Service!</h1>
<p>
  <mat-toolbar class="example-spacer">
    <button class="btn" routerLink="/orders"><b>Orders</b></button>
    <button class="btn" routerLink="/owners"><b>Cars Owners</b></button>
    <button class="btn" routerLink="/cars"><b>Cars</b></button>
    <button class="btn" routerLink="/services"><b>Service For Car</b></button>
    <button class="btn" routerLink="/products"><b>Products</b></button>
    <button class="btn" routerLink="/masters"><b>Masters</b></button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
